<!DOCTYPE html>
<html>
  <!-- layout: blank.html -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="{{ site.encoding }}">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    

    <title>{% if page.title %} {{ page.title }} › {% endif %}{{ site.title }}</title>
    
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url}}">
    
    <!-- font and icons -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href="{{ '/basic.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/highlight.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/index.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/ts_plot.css' | prepend: site.baseurl }}" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>


    <!-- feed meta: -->
    {% feed_meta %}
    {% if site.comments.disqus and page.comments %}<script src="//{{ site.comments.disqus }}.disqus.com/embed.js" async></script>{% endif %}
    {% if site.comments.isso and page.comments %}<script data-isso="http://{{ site.comments.isso }}" src="//{{ site.comments.isso }}/js/embed.min.js"></script>{% endif %}
  </head>

  <body>
    <header>
      <h1>
        <img src="https://rusershamburg.github.io/logo_rusershamburg_w.png"/>
        <a href="{{ site.baseurl  }}">{{ site.title | replace_first: 'R ', '' }}</a>
        </h1>
      <nav>
        <div>{% for path in site.navigation %}{% assign node = site.pages | where: "path", path | first %}<a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>{% endfor %}</div>
        <div>{% for link_hash in site.links %}{% for link in link_hash %}<a href="{{ link[1] }}"><i class="fa fa-{{ link[0] }}"></i></a>{% endfor %}{% endfor %}</div>
      </nav>
    </header>
    
    <!-- content -->
    {{ content }}
    {% if page.previous.url or page.next.url %}
    <footer>
        {% if page.next.url %}<a href="{{ page.next.url | prepend: site.baseurl }}">« {{ page.next.title }}</a>{% else %} <span></span> {% endif %}
        {% if page.previous.url %}<a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }} »</a>{% else %} <span></span> {% endif %}
    </footer>
    {% endif %}
   
  </body>

</html>


